@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,700;1,900&display=swap');

:root{
    --white: #dae1e7;
    --darkblue: #142850;
    --blue: #00909E;
}

*{
    margin: 0;
    padding: 0;
}

footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: var(--darkblue);
    height: 125px;
}

div{
   padding-top: 20px;
}

#p-link{
    color: var(--white);
}

 a{
    color: var(--white);
    text-decoration: none;
    font-size:0.9em;
    font-family: 'Raleway', sans-serif;
    padding: 5px;
}

a:hover{
    transition: 0.5s;
    cursor: pointer;
    color: rgba(221, 221, 29, 0.945);
    text-transform: uppercase;
}

img{
    height: 30px;
    width: 30px;
    padding-top: 5px;
}

img:hover{
    transform: scale(1.5);
    transition: 0.5s;
    padding-left: 5px;
    padding-right: 5px;
}

.link-image{
    
    padding-right: 5px;
    padding-left: 5px;
}